* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: url(/imgs/pexels-leon-ardho-1552252.jpg);
    background-size: cover;
    backdrop-filter: blur(4px);
}

#bmi-form {
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: 18px;
    margin: 15px 0 8px;
    font-weight: bold;
    color: #fff;
}

input {
    padding: 12px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #ffffff37;
    border: none;
    outline: none;
    color: #fff;
    caret-color: #fff;
}

button {
    background-color: #1890ff;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #1776cf;
}

#result {
    font-weight: bold;
    margin: 30px;
    color: #fff;
    font-size: 24px;
}

@media (width < 700px) {
    body {
        justify-content: center;
    }
    h1 {
        margin-bottom: 50px;
    }

}