:root {
    --scrollbar-thumb: #607d8b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    height: 4000px;
}

.content > div {
    height: 1000px;
}

.content div:nth-child(1) {
    background-color: #607d8b;
}

.content div:nth-child(2) {
    background-color: #009688;
}

.content div:nth-child(3) {
    background-color: #4caf50;
}

.content div:nth-child(4) {
    background-color: #8bc34a;
}

h1 {
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    opacity: 0;
}

button:hover {
    background-color: #0d5fb7;
}

#line1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

#line2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}