* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0f214d;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff11;
    color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 20px;
}

#saveBtn {
    font-weight: bold;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 20px;
}


li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#deleteBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    float: right;
}
